[submodule "OpenApiPy"]
	path = OpenApiPy
	url = https://github.com/spotware/OpenApiPy.git
[submodule "openapi-proto-messages"]
	path = openapi-proto-messages
	url = https://github.com/spotware/openapi-proto-messages.git
